body {
    background-color: aliceblue;
    color:black;
}

.container {
    background-color: white;
    opacity: 1;
    box-shadow: 0 0 5px black;
    border-radius:5px;
    padding:10px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.header {
    color: #5b80b2;
    border-bottom: 1px solid royalblue;
    margin: 10px auto;
}
.header h1 {
    padding:5px;
    margin: 0 0 0 25px;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 3px 5px 10px darkolivegreen;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color : white;
}

.empty {
    color: #5b80b2;
}
.tasklist {
    text-align: center;
    margin-top: 100px;
    /*border:1px solid #5b80b2;*/
    border-bottom: None;
    border-top: None;
    padding: 5px;
    min-height: 400px;
}
.tasklist ul {
    padding: 5px;
    text-align: left;
    list-style-position: inside;
    list-style-type: square;
    color: #5b80b2;
}
.tasklist li {
    background-color: whitesmoke;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-family: monospace;
    font-size: 20px;
}
.tasklist li span {
    text-align: right;
}
.tasklist  p {
    margin:10px 40px 5px 40px;
    padding:10px;
    border-radius: 5px;
    border:1px solid #5b80b2;
    border-right:none;
    border-left:none;
}
.footer {
    background-color:royalblue;
    color: black;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;
}
.footer p {
    margin: auto auto;
    padding:5px;
    font-family: monospace;
    color: white;
    font-weight: lighter;
}
.footer a {
    text-decoration: none;
    color: white
}
.footer a:visited {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.footer a:hover {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 15px white;
}
.footer a:active {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 15px black;
}

.new_task {
    border-radius:5px;
    background-color:whitesmoke;
    color:lightseagreen;
    padding:5px;
    width:150px;
    border: 2px solid white;
    font-weight: bold;
    margin: 0 0 5px 80%;
    opacity: 0.5;

}
.new_task:hover {
    border: 2px solid #5b80b2;
    opacity: 1;
}

#delete  {
    font-family: sans-serif;
    border:1px solid  #5b80b2;
    border-radius: 5px;
    background-color: #5b80b2;
    color:white;
    padding:0 5px;
}
#delete:hover {
    background-color: whitesmoke;
    color: #5b80b2;
    border:1px solid #5b80b2;
}

/* Form Styling */
.add_task .head, .complete_task .head {
    color:#5b80b2;
    padding: 0 15px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}
.complete_task {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: rgba(245, 245, 245, 0.8);
    box-shadow: 0 0 5px 5px indianred;
    border: 1px solid darkgrey;
    border-radius: 7px;
    padding:10px;
}
.complete_btn_div {
    text-align: center;
    padding: 10px;
}
.add_task {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: rgba(245, 245, 245, 0.8);
    box-shadow: 0 0 5px 5px skyblue;
    border: 1px solid darkgrey;
    border-radius: 7px;
    padding:10px;
}
.add_task .add {
    margin: auto;
    width:300px;
    text-align: left;
}
.add_task label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
    margin-top: 5px;
    font-size:12px;
}
.add_task input:not(.priority), textarea {
    border-radius: 5px;
    border: 1px solid #5b80b2;
    color: blue;
    font-family: monospace;
    font-size: 12px;
    padding:5px;
    width:300px;
}

.add_task .notes {
    display: block;
    width:inherit;
    height:250px;
}
.add_task .add_btn_div {
    text-align: center;
    padding:10px;
}
.add_task .add_btn, .cancel_btn, .complete_btn {
    border-radius: 5px;
    color: royalblue;
    background-color: black;
    font-weight: bold;
    font-family: monospace;
    height:30px;
    width:100px;
    opacity: 0.5;
    text-align: center;
}
.add_task .add_btn:hover, .cancel_btn:hover, .complete_btn:hover {
    opacity: 1;
    color:white;
}
